.forgot-password,
.user-signup,
.back-to-login {
    cursor: pointer;
    display: inline-block;
}

.back-to_login { float: left; }
.forgot-password { float: left; }
.user-signup { float: right; }

.row {
    margin: 10px 0 20px 0;
}