*.class
*.log

# sbt specific
.cache/
.history/
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet


#
.idea/*
nbproject/*
assets/sass/theme/.sass-cache/*
.sonar/*
tools/apache-activemq-5.8.0/*
.settings/*
.buildpath
.project
*.sublime-workspace
*.sublime-project
*.sass-cache*
node_modules*
dependencies/*.tar.gz
.grunt/*
assets/.grunt/*
assets/_SpecRunner.html