<!DOCTYPE html>
<html>    
  <head>
    <title>E-belle</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="bootstrap, Templatte bootstrap, Template bootstrap hotel, bootstrap hotel , wrapbootstrap, yobio"/>
    <meta name="description" content="HTML Responsive, Best HTML template for your hotel website"/>
    <meta name="author" content="yobio studio"/>
    <link rel="shortcut icon" href="lobster/images/faicon.png"/>
    <!-- styles Bootsrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- end styles Bootsrap -->

    <!-- FONTAWESOME STYLE -->
    <link rel="stylesheet" href="lobster/css/font/FortAwesome/css/font-awesome.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="lobster/css/font/FortAwesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Style Lightbox -->
    <link rel="stylesheet" href="lobster/css/light_box/magnific-popup.css"/>
    <!-- End Style Lightbox -->

    <!-- Style Full Calendar-->
    <link href="lobster/css/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- Style Datatatbles-->
    <link href="lobster/css/datatables/css/jquery.dataTables.css" rel="stylesheet" />

    <!-- styles Lobster Theme -->
    <link href="lobster/css/style.css" rel="stylesheet" />
    <link href="lobster/css/color_theme.css" rel="stylesheet" />
    <!-- place for your custom styles -->
    <link href="lobster/css/mystyle.css" rel="stylesheet" />
    <!-- End Lobster Theme -->

    <script src="assets/dist/main.js"></script>
  </head>
  <body class="theme_default" data-ng-app='PortalApp'>
    <div id="wrapper">
      <section id="top_header">
        <div class="inner-wrapper text_center">
          <!--Start Main Navigation-->
          <span data-ng-include="'nav.html'">            
          </span>          
          <!--ENd Main Navigation-->
        </div>
      </section>      <!-- Start section content Top -->
      <section id="content_top">
        <!-- STart sequence Slider  -->
        <div id="sequence">
          <a href="#" class="sequence-prev">Prev</a>
          <a href="#" class="sequence-next">Next</a>
          <ul class="sequence-canvas unstyled">
            <li class="animate-in ">
              <div class="start_anime">
                <img src="lobster/images/slider/s1.jpg" class="bg_slider" alt="preview"/>
                <div class="box_area_slider">
                  <div class="panel" >
                    <h2 class="title">Bem vindo ao <small><strong>e-belle</strong></small></h2>
                    <div class="description">
                      <p>O maior portal de saloes de beleza do brasil</p>
                    </div>
                    <img src="lobster/images/slider/2586270104_7f6d2c12aa.png" class="img_sllider" alt="preview">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div><!-- End sequence Slider  -->
      </section><!-- End section content page -->
      <!-- Start section logo message area -->
      <section id="logo_message_area">
        <div class="inner-wrapper">
          <!-- Start logo image -->
          <h1 class="no_margin logo" ><strong>E-belle</strong> <small></small></h1><!-- End logo image -->
          <!-- Start Message Your own -->
          <div class="row-fluid">
            <div class="span8">
              <p class="no_margin"> Faça seu agendamento online e ganhe tempo</p>
            </div>
            <div class="span4 text_right">
              <a class="btn btn-primary flat" onclick="alert('Em breve')"><i class=" icon-calendar"></i> Agente um horario</a>
            </div>
          </div><!-- End Message Your own -->
        </div>
        <div class="inner-wrapper driver_space"></div>
      </section><!-- End section logo message area -->
      <!-- Start section content page -->
      <section id="content">
        <div class="inner-wrapper">
      <!-- Begin Content Page -->
       <!-- Start Grid Top Featires-->
          <span data-ng-controller='UnitController' class="row-fluid">
            <div  data-ng-repeat='unities in page.rows'>
              <div class="span3 text_center" data-ng-repeat='unit in unities'>
                <a href="./company.html#/{{unit.siteName}}">
                  <div class="boxfeature">
                    <div class="img_preview">
                      <img data-ng-src="{{unit.logo}}" alt="img_preview"/>
                      <h4 data-ng-bind='unit.title'></h4>
                    </div>
                    <!--
                    <div class="desc" >
                      <p data-ng-bind='unit.description'></p>
                      <p><a class="btn btn-primary flat btn-large" href="./company.html#/{{unit.siteName}}">Ler mais</a></p>
                    </div>
                    -->
                  </div>
                </a>
                <br/>
              </div>
            </div>
            <!--Start Pagination -->
              <span class='span12'>
                <div class="pagination flat-pagination  pagination-large text_center">
                  <ul>
                    <li><a href="#" data-ng-click='prevPage()'>Ant</a></li>
                    <li data-ng-repeat='currentPage in pages'  data-ng-class="{ active : currentPage === page }">
                      <a href="#" data-ng-click='chagePage(currentPage)' data-ng-bind='$index+1'></a>
                    </li>
                    <li><a href="#" data-ng-click='nextPage()'>Prox</a></li>
                  </ul>
                </div>
              </span><!--End Pagination -->
          </span>  
              <!-- End Grid Top Featires-->
          <div class="row-fluid">
            <div class="span12">
              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div>
              <!-- End Break Page Style-->

              <div class="text_center">
                <h1>Welcome to Our Hotel</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              </div>
              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <!-- Start Break Page Style-->
              <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div><!-- End Break Page Style-->

              <div class="row-fluid">
                <div class="span6">
                  <!-- Start Testimonaila list-->
                  <h3 >Vagas</h3>
                  <ul class="unstyled custumer_say" data-ng-controller='JobRequestController'>
                    <li class="clearfix" data-ng-repeat="job in page.rows[0]">
                      <h4 class="media-heading" data-ng-bind='job.name'>Ray O’Sun</h4>
                      <p  data-ng-bind-html='job.description'></p>
                    </li>
                  </ul><!-- End Testimonaila list-->
                </div>
                <div class="span6">
                  <!-- Start Events list-->
                  <h3>Last Events</h3>
                  <ul class="unstyled events">
                    <li>
                      <div class="content_post">
                        <img class="pull-left img_preview" src="lobster/images/morguefile/file000995479886.jpg" alt="preview" />
                        <h4>Free Breakfast For all custumers</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-mini flat ">Read More</a>
                      </div>
                    </li>
                    <li>
                      <div class="content_post">
                        <img class="pull-left img_preview" src="lobster/images/morguefile/file000995479886.jpg" alt="preview" />
                        <h4>Free Breakfast For all custumers</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry's standard .</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industryy text of the printing and typesetting industryy text of the printing and typesetting industry.</p>
                        <a href="#" class="btn btn-primary btn-mini flat ">Read More</a>
                      </div>
                    </li>
                  </ul><!-- End Events list-->
                </div>
              </div>
            </div>
          </div>
          <!-- End Content Page -->
        </div>
      </section><!-- End section content page -->      
      <!--Start Footer Section-->
      <footer id="footer" data-ng-include="'footer.html'">
      </footer>
      <!--End Footer Section-->

      <!-- Start Control Color Theme -->
      <div class="control_color hidden-phone">
        <a href="#" data-color="theme_default"><img src="http://placehold.it/30x30/CE4E4A/CE4E4A" alt=""/></a>
        <a href="#" data-color="theme_blue"><img src="http://placehold.it/30x30/4BAAD3/4BAAD3" alt=""/></a>
        <a href="#" data-color="theme_green"><img src="http://placehold.it/30x30/2ECC71/2ECC71" alt=""/></a>
        <a href="#" data-color="theme_black"><img src="http://placehold.it/30x30/000/000" alt=""/></a>
      </div><!-- End Control Color Theme -->
    </div>

    <!--=========================================================================-->
    <!--Load JS source-->
    <!--=========================================================================-->
    <!--Load JS JQUERY-->
    <script src="lobster/js/jquery-1.9.1.min.js"></script>
    <script src="lobster/js/jquery-ui-1.10.2.custom.min.js"></script>

    <!--Load JS Bootstrap-->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!--=========================================================================-->
    <!--Load JS plugins-->
    <!--=========================================================================-->
    <!--End JS Grid masonry-->
    <script src="lobster/js/masonry.pkgd.min.js"></script>
    <!--End JS Grid slider sequence-->
    <script src="lobster/js/jquery.sequence-min.js"></script>

    <!--Load JS scrool smoothest-->
    <script src="lobster/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="lobster/js/jquery.localScroll.min.js"></script>
    <!--End JS scrool smoothest-->

    <!--Load JS Datatables plugin-->
    <script src="lobster/js/jquery.dataTables.min.js"></script>
    <!--Load JS fullcalendar plugin-->
    <script src="lobster/js/fullcalendar.min.js"></script>
    <!--Load JS magnific lightbox plugin-->
    <script src="lobster/js/jquery.magnific-popup.min.js"></script>
    <!--Load JS lazy load image unveil-->
    <script src="lobster/js/jquery.unveil.min.js"></script>
    <!--Load JS jquery validation -->
    <script src="lobster/js/jquery.validate.min.js"></script>

    <!--Load JS jquery shintact remove it if unnecessary-->
    <link href="documentation/assets/shi_default.min.css" rel="stylesheet" />
    <script src="documentation/assets/shi_jquery.min.js"></script>
    <!-- end Load JS plugins-->

    <!--load js cookie #[optional]-->
    <script src="lobster/js/jquery.cookie.js"></script>
    <!--end load js cookie-->

    <!--Load JS config application-->
    <script src="lobster/js/app.js"></script>
    <!--end JS config application-->
  </body>
</html>
