<!DOCTYPE html>
<html data-ng-app='PortalApp' >
  <head>
    <title>Agendamento</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="bootstrap, Templatte bootstrap, Template bootstrap hotel, bootstrap hotel , wrapbootstrap, yobio"/>
    <meta name="description" content="HTML Responsive, Best HTML template for your hotel website"/>
    <meta name="author" content="yobio studio"/>
    <link rel="shortcut icon" href="lobster/images/faicon.png"/>
    <!-- styles Bootsrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <!-- end styles Bootsrap -->

    <!-- FONTAWESOME STYLE -->
    <link rel="stylesheet" href="lobster/css/font/FortAwesome/css/font-awesome.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="lobster/css/font/FortAwesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Style Lightbox -->
    <link rel="stylesheet" href="lobster/css/light_box/magnific-popup.css"/>
    <!-- End Style Lightbox -->

    <!-- Style Full Calendar-->
    <link href="lobster/css/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- Style Datatatbles-->
    <link href="lobster/css/datatables/css/jquery.dataTables.css" rel="stylesheet" />

    <!-- styles Lobster Theme -->
    <link href="lobster/css/style.css" rel="stylesheet" />
    <link href="lobster/css/color_theme.css" rel="stylesheet" />
    <!-- place for your custom styles -->
    <link href="lobster/css/mystyle.css" rel="stylesheet" />
    <!-- End Lobster Theme -->
    
  </head>
  <body class="theme_default">  
      <!--Start main Title content-->
      <!--End main Title content-->
<!-- Start section content page -->
  <section id="content">
    <div class="inner-wrapper">
      <div class="row-fluid">
        <div class="span12">
          <div class="singup_area with_bg">
            <form class="lobstrer_form_validation">
              <div class="row-fluid">
                <div class="span12">
                  <div class="panel">
                    <p class="text_center" >
                      <img src="lobster/images/loader.gif" data-src="lobster/images/Graphic1.png"  alt="preview" width="100">
                      <a href="#" class="btn flat btn-warning Mtop-1">[ <span data-ng-bind='customer.shortName'></span> ] </a>
                    </p>
                    <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                <div class="span6">
                  <div class="panel">
                      <label>Selecione um Proficional</label>
                      <select class="input-block-level" required data-ng-model='treatment.user' data-ng-option="">
                      </select>
                      <label>Selecione um Horario</label>
                      <select class="input-block-level" required data-ng-model='treatment.start' data-ng-option="">
                      </select>
                  </div>
                </div>
                <div class="span6">
                  <div class="panel">
                    <label>Selecione um Serviço</label>
                    <select class="input-block-level" required data-ng-model='treatment.user' data-ng-option="">
                    </select>
                  </div>
                </div>
              </div>
              <div class="row-fluid">
                  <button type="button" class="btn btn-info btn-large input-block-level flat">Agendar</button>
              </div>
              </form><!-- End Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End section logo message area -->'
      
      <!--Start Footer Section-->
      <!--End Footer Section-->
      
      <!-- Start Control Color Theme -->
      <!-- End Control Color Theme -->
    </div>
    
    <!--=========================================================================-->
    <!--Load JS source-->
    <!--=========================================================================-->
    <!--Load JS JQUERY-->
    <script src="lobster/js/jquery-1.9.1.min.js"></script>
    <script src="lobster/js/jquery-ui-1.10.2.custom.min.js"></script>

    <!--Load JS Bootstrap-->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!--=========================================================================-->
    <!--Load JS plugins-->
    <!--=========================================================================-->
    <!--End JS Grid masonry-->
    <script src="lobster/js/masonry.pkgd.min.js"></script>
    <!--End JS Grid slider sequence-->
    <script src="lobster/js/jquery.sequence-min.js"></script>

    <!--Load JS scrool smoothest-->
    <script src="lobster/js/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="lobster/js/jquery.localScroll.min.js"></script>
    <!--End JS scrool smoothest-->

    <!--Load JS Datatables plugin-->
    <script src="lobster/js/jquery.dataTables.min.js"></script>
    <!--Load JS fullcalendar plugin-->
    <script src="lobster/js/fullcalendar.min.js"></script>
    <!--Load JS magnific lightbox plugin-->
    <script src="lobster/js/jquery.magnific-popup.min.js"></script>
    <!--Load JS lazy load image unveil-->
    <script src="lobster/js/jquery.unveil.min.js"></script>
    <!--Load JS jquery validation -->
    <script src="lobster/js/jquery.validate.min.js"></script>
    
    <!--Load JS jquery shintact remove it if unnecessary-->
    <link href="documentation/assets/shi_default.min.css" rel="stylesheet" />
    <script src="documentation/assets/shi_jquery.min.js"></script>
    <!-- end Load JS plugins-->
    
    <!--load js cookie #[optional]-->
    <script src="lobster/js/jquery.cookie.js"></script>
    <!--end load js cookie-->

    <!--Load JS config application-->
    <script src="assets/dist/main.js"></script>
    <script src="lobster/js/app.js"></script>
    <!--end JS config application-->
  </body>
</html>
