<section id="content">
  <div class="inner-wrapper">
    <div class="row-fluid">
      <div class="span12">
        <div class="login_area with_bg">
          <!-- Start Form Login -->
          <form class="lobstrer_form_validation">
            <div class="panel">
              <p class="text_center" >
                <img src="lobster/images/loader.gif" data-src="https://ebelle.vilarika.com.br/images/logo.png"  alt="preview" width="100"/>
              </p>
              <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div>
              <div class="gridmasonry">
                  <button type="button" class="btn btn-info btn-large input-block-level flat">Facebook Connect</button>
              </div>
              <br/>
              <br/>
              <div class="divater"><div class="line"></div><span><img src="lobster/images/deviter.png" alt=""></span></div>
              <label>Email</label>
              <input type="email" name="email" class="input-block-level" required data-ng-model='email'>
              <label>Password</label>
              <input type="password" name="password" class="input-block-level" required data-ng-model='password'>
              <button type="submit" data-ng-click="login(email, password)" class="btn btn-primary btn-large flat input-block-level">Login</button>
            </div>
          </form><!-- End Form Login -->
        </div>
      </div>
    </div>
  </div>
</section>